.nav-link:hover {
    border-bottom: 3px solid #ff0000;
    padding-bottom: 5px;
}

.category:hover {
    transition: 950ms;
    transform: scale(1.15);
}

.card:hover {
    background-color: #F6F6F5;
}